/*general*/
 html{
    margin:0;
    padding: 0;
}

body{
    
    width: 100vw;
}
.container-fluid{
    background-color: rgba(243, 242, 242, 0.603);
    border-radius: 5%;

}

#about-me img{
    border-radius: 5%;
}

h3{
    font-family: 'Indie Flower';
}

/*Nav*/
.menu{
    padding-top: 0.5em;
    position: fixed;
    z-index: 1;
}

/*bis*/
.nav{
    height: 10em;
}
.bis{
    text-align: center;
    position: fixed;
    z-index: 1;
    background-color: rgb(224, 224, 224);
}

.img-thumbnail{
    width: 8em;
    border-radius: 50%;
}
/*fin bis*/

/*media-que*/
@media screen and (max-width:700px){
    .bis{display: none;}  
    #travels-bis{display: none;}
    #about-me{display: none;}
    .container-fluid{margin-bottom: 3em;}
    #info img{display: none;}
    .separateur{margin-bottom: 3em;}
    
}

@media screen and (min-width:700px){
    .main{margin-left:30%;}
    .menu{display:none}
    #identity{display:none}
    #hobby{display: none;} 
    .container-fluid{margin-bottom: 4.5em;}
    .separateur{margin-bottom: 4.5em;}
    
}
@media screen and (min-width:1400px){
    .main{margin-left: 35%;}
    .menu{display:none}
    #identity{display:none}
    #hobby{display: none;} 
    .container-fluid{margin-bottom: 4.5em;}
    .separateur{margin-bottom: 4.5em;}
    
}
@media screen and (min-width:1600px){
    .main{margin-left: 42%;}
    .menu{display:none}
    #identity{display:none}
    #hobby{display: none;} 
    .container-fluid{margin-bottom: 4.5em;}
    .separateur{margin-bottom: 4.5em;}
    
}

/* fin media-qu*/

/*about-me*/
#about-me{
    text-align: center;
}

.img-fluid{
    width: 50vw;
    height: 90vh;
}

#about-me h3{
    margin-top: 1em;
    margin-bottom: 4em;
    font-family: 'Indie Flower';
}

.dowload {
    font-family: 'Indie Flower';
    margin-left: 1em;
    font-size: 1.2em;
    
}

#about-me h2{
    margin: 0.7em 0 0.7em 0;
    font-family: 'Indie Flower';
}

.img-identity{
    width: 15vw;
    border-radius: 50%;
}
/*fin-about me*/
.img-pc{
    width: 16vw;
    border-radius: 10%;
    
}

.list-group i{
    padding: 1em 0 0.3em 0;
    font-size: 1.4em;
}
/*education*/

.blue{
    color: rgb(90, 197, 240);
}

.right{
    text-align: right ;
}

.separateur{
    width: 12em;
    height: auto;
}

.workHeight{
   background-color:rgb(204, 201, 201);
   height: 5em;
   border-radius: 10%;
}

/*hobby*/

.hobby{
    border-radius: 50%;
}

/*animation*/

.hidden {
    opacity: 0;
}

.fadein{
    animation: fadein 2.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }
    to {
        opacity: 1;
    }
}
/*scroll top*/
#scrollTop {
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgb(128, 208, 240);
    border-radius: 50%;
    margin-left: auto;
    position: relative;
    right: 5%;
    bottom: 20px;
}

#scrollTop:hover {
    background-color: rgb(14, 11, 10);
}

.arrow {
    font-size: 2.5em;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow-animation {
    animation: 1s infinite alternate arrow cubic-bezier(0.790, 0.150, 0.180, 0.750);
}

@keyframes arrow {
    to {
        top: 53%;
    }
}